@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1920px;
}

body{
    width: inherit;
    overflow: hidden;
    position: relative;
    padding:0 0 0 0;
    background: url(../images/Background.jpg) repeat-x;
    background-size: cover;
}

.timetable{
    width: 52%;
    position: absolute;
    top: 0%;
    right: 0%;
    color: white;
}

.timetable th {
    height: 30px;
}

.info{
    font-size: 14px;
    padding: 0 230px;
}


.info a{
    font-family: "Arial Narrow", sans-serif;
    font-size: 16px;
    color: deepskyblue;
}

.nameval{
    color: darkorange;
    float: left;
    font-size: 30px;
    font-family: "American Typewriter", serif;
    border-bottom: 5px solid blueviolet;
    /*padding: 13px 0*/
}

.reliability{
    color: deepskyblue;
    font-size: 15px;
    font-family: "Arial Narrow", sans-serif;
}

.bonus{
    color: deepskyblue;
    font-size: 15px;
    font-family: "Arial Narrow", sans-serif;
}

#avatarr{
    padding: 25px 0;
}

.message{
    color: yellowgreen;
    font-size: 20px;
    font-family: "American Typewriter", serif;
    width: 100%;
}

.submit{
    background-color: blueviolet;
}

.errorico{
    width: 80%;
    position: absolute;
    left: 39%;
    color: red;
}

.eror{
    width: 80%;
    text-align: center;
    color: red;
}

/*.changeavatar{*/
/*    padding: 50px 0;*/
/*}*/


button{
    width: 10%;
    height: 30px;
    background: blueviolet;
    border: 2px solid blueviolet;
    border-bottom: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 12px 0;
    border-radius: 20px;
}

/*.changeavatar select option{*/
/*    background-color: yellow;*/
/*    font-family: fantasy;*/
/*}*/

select{
    width: 12%;
    background: none;
    border: 2px solid blueviolet;
    padding: 5px;
    color: white;
    font-size: 15px;
    font-family: Georgia, serif;
    cursor: pointer;
    margin: 5px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
}

#timeselect{
    width: 79%;
}

select option{
    color: black;
    background-color: deepskyblue;
}

#usernamefield{
    width: 25%;
    background: none;
    border: 2px solid blueviolet;
    padding: 5px;
    color: white;
    font-size: 15px;
    font-family: Georgia, serif;
    cursor: pointer;
    margin: 5px 0;
}

input[type=checkbox]{
    content:"\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    color: transparent;

}

input[type=checkbox]:checked{
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}


/*!*#cars {*!*/
/*!*    background-color: yellow !important;*!*/
/*!*}*!*/
