@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1920px;
}

body{
    width: inherit;
    overflow: hidden;
    position: relative;
    padding:0 0 0 0;
    font-family: sans-serif;
    background: url(../images/Background.jpg) repeat-x;
    background-size: cover;
}

.timetable{
    width: 52%;
    position: absolute;
    top: 0%;
    right: 0%;
    color: white;
}

th {
    height: 30px;
}

.info{
    font-size: 14px;
    padding: 0 230px;
}

.info a{
    font-size: 16px;
    color: deepskyblue;
}

.nameval{
    color: darkorange;
    float: left;
    font-size: 30px;
    border-bottom: 5px solid blueviolet;
    /*padding: 13px 0*/
}

.submit{
    background-color: blueviolet;
}

.errorico{
    position: absolute;
    left: 40%;
    color: red;
}

.eror{
    position:  center;
    text-align: center;
    color: red;
}

.changeavatar{
    padding: 50px 0;
}

.changeavatar button{
    width: 10%;
    background: blueviolet;
    border: 2px solid blueviolet;
    border-bottom: none;
    color: white;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 12px 12px;

}

.changeavatar select{
    width: 10%;
    background: none;
    border: 2px solid blueviolet;
    border-bottom: none;
    color: white;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 12px 12px;
    border-radius: 15px;
}
